body {
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	text-align: center;
	gap: 10px;
	font-family: Arial, Helvetica, sans-serif;
}

.div {
	margin-top: 1.5rem;
}

#img {
	margin-top: 2.5rem;
	height: 40px;
	width: 220px;
	font-size: 17px;
}

#picture {
	margin-top: 4rem;
	height: 211px;
	width: 375px;
	background-position: center;
	background-size: cover;
}